{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virat kohli</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
    <h1>spcific</h1>
    <img src="{% static 'images/kohli.jpg' %}" alt="kohli" srcset="" height="300px" width="300px">
    
    <img src="{% static 'images/kohli2.jpg' %}" class="card-img-top" alt="..." height="300px" width="300px">
    <p>This kohli power full short</p>
    <p>This is one of the most pic</p>
    </center>
</body>
</html>